.Research {
  margin-bottom: 2%;
  /* border: 2px solid black; */
  padding: 2% 0 2% 2%;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  text-decoration: underline;
}

a :active {
  text-decoration: brown;
}

.message {
  text-align: center;
}

.shunt {
  color: darkred;
}
